.containerExperience {
    margin-bottom: 32px;
}

.textExperience {
    line-height: 1.5;
    letter-spacing: 0%;
    max-width: 968px;
    width: 100%;
}

.containerReviev {
   margin-bottom: 32px;
}

.containerIconRating {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.iconRating {
    fill: var(--yellow-bg-color);
}

.nameReview {
   color: var(--secondary-bg-color);
   margin-bottom: 2px;
}

.textReview {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0%; 
}

.btnTextLesson {
    border: none;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    background: transparent;
}

