.containerHeader { 
   margin: 0 auto;
   padding: 32px 64px 32px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink {
    margin-right: 28px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: var(--primery-color);
}

.navLink:active,
.navLink:hover {
    color: var(--primery-btn-color);
    text-decoration: underline;
}

.active {
    font-weight: bold;
    color: var(--primery-btn-color);
}

.authButtons {
    display: flex;
    gap: 14px;
}

.loginButton {
    display: inline-block;
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--primery-color);
    padding-left: 73px;
}

.loginButton:active,
.loginButton:hover {
    color: var(--primery-btn-color);
}

.iconArrow {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    fill: transparent;
    stroke: var(--pale-green);
    transition: stroke 0.3s ease;
}

.loginButton:hover .iconArrow,
.loginButton:hover .iconArrow {
    stroke: var(--primery-btn-color);
}

.registerButton {
    margin-left: auto;
    margin-right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 14px 39px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
    color: var(--white-bg-color);
    background-color: var(--primery-color);
}

.registerButton:active,
.registerButton:hover {
    background-color: var(--secondary-bg-color);
}

.logoutButton {
    margin-left: auto;
    margin-right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 14px 39px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
    color: var(--white-bg-color);
    background-color: var(--primery-color);
}

.logoutButton:active,
.logoutButton:hover {
    background-color: var(--secondary-bg-color);
}

/* Modal */
