.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--color-avatar);
    color: var(--black-color);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.closeButton {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--black-color);
    position: absolute;
    top: 10px;
    right: 10px;
}

.wave {
    display: inline-block;
    opacity: 0; 
    color: var(--black-color);
    font-size: 24px;
    transform: translateY(10px);
    animation: wave 0.8s forwards; 
}

@keyframes wave {
    0% {
      opacity: 0;
      transform: translateY(10px);
      color: var(--black-color);
    }
    50% {
      opacity: 1;
      transform: translateY(-5px);
      color: var(--blue-bg-color);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      color: var(--blue-bg-color);
    }
  }

  @media (max-width: 768px) {
    .notification {
        width: 300px;
    }

    .closeButton {
        font-size: 14px;

    }
    
  }