.containerLogo {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 64px;
}

.svgLogo {
   margin-left: 64px;
}

.titleHeader {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -2%;
    color: var(--primery-color);

}