:root {
        --primery-btn-color: #F4C550;
        --secondary-btn-accent: #FFDC86;
        --color-avatar: #FBE9BA;
        --pale-green: #9FBAAE;
        --mint-green: #CBDED3;
        --soft-blue: #9FB7CE;
        --sky-blue: #BFD6EA;
        --peach-pink: #E0A39A;
        --light-peach: #F2C0BD;
        --sunset-orange: #F0AA8D;
        --blush-pink: #F4C8BA;
        --green-color: #38CD3E;
        --blue-bg-color: #338AF3;
        --yellow-bg-color: #FFDA44;
        --primery-color: #121417;
        --secondary-bg-color: #8A8A89;
        --white-bg-color: #FFFFFF;
        --bg-color-section: #F8F8F8;
        --black-color: #000000;

        --secondary-color: rgba(18, 20, 23, 0.2);
        --color-border-input: rgba (18, 20, 23, 0.1)
}