.listWraper {
    background-color: var(--bg-color-section);
    height: 100%;
}

.sectionTeacher {
    padding: 96px 128px;
}

.teacherList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.wave {
    display: inline-block;
  }
  
  .wave span {
    display: inline-block;
    opacity: 0; 
    color: var(--yellow-bg-color);
    font-size: 24px;
    transform: translateY(10px); 
    animation: wave 0.5s forwards; 
  }
  
  @keyframes wave {
    0% {
      opacity: 0;
      transform: translateY(10px); 
    }
    50% {
      opacity: 1;
      transform: translateY(-5px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }