@import url('./shared/style/_color.css');
@import url('./shared/style/_variables.css');

@font-face {
    font-family: 'Roboto';
    src: url('./shared/style/font/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./shared/style/font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./shared/style/font/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primery-color);
    font-size: 16px;
    font-weight: 400;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

p:last-child {
    margin-bottom: 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}